hi
<div *ngIf="survey$|async as survey">
  <h1>{{survey?.title}}</h1>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

  <ul>
    
    <li *ngFor="let question of survey.questions; index as i">
      {{ i + 1 }}. {{ question.question }}
      <input [(ngModel)]="answers[i]" type="radio" name="rating-{{i}}" value="1"><i></i>
      <input [(ngModel)]="answers[i]" type="radio" name="rating-{{i}}" value="2"><i></i>
      <input [(ngModel)]="answers[i]" type="radio" name="rating-{{i}}" value="3"><i></i>
      <input [(ngModel)]="answers[i]" type="radio" name="rating-{{i}}" value="4"><i></i>
      <input [(ngModel)]="answers[i]" type="radio" name="rating-{{i}}" value="5"><i></i>
    </li>
  </ul>
  <button type="submit" value="submit">submit</button>
</form>
</div>
